<div class="jumbotron center">



	<% if user_signed_in? %>
		<h1>Welcome, Mr. xxxxx </h1>
		<p>Hey, we missed you!</p>
		
		Here's some more information on what to do...
	<% else %>
	<h1>Dispinterested in Life?</h1>
	<p>We've got 1,000s of brillant Photos for All</p>
	<p>To use this app, please login or signup. </p>
	<p> <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %> 
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>

</div>

