<div class="jumbotron">
	<h1>Hello World</h1>
	<p>Login to learn more...</p>
	<p>To learn more, please login or signup. </p>
	<p> <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %> 
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
</div>

